.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1ABC9C;
}
.c
{
  margin: 50px;
  background-color:white;

  box-shadow: 0 0 5px #33ffff,
               0 0 10px #66ffff;
  border-radius: 3px;
  width:1000px;
  padding:50px;
  
}
    
    <?php include 'navi-page.php'; ?>


<style type="text/css">
body
{
  background-color: #1ABC9C;
}
  .strong {
    font-weight: 900;
    display:inline-block;
    text-align: left;
    width: 200px;
  }
  .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1ABC9C;
}
.c
{
  margin: 50px;
  background-color:white;

  box-shadow: 0 0 5px #33ffff,
               0 0 10px #66ffff;
  border-radius: 3px;
  width:600px;
  height:400px;
  padding:50px;
  line-height: 50px;
  align-items: center;
  
}
.btn-next {
  border: none;
  padding: 15px;
  background-color:black;
  color:white;
  border-radius: 10px;
  transition: 0.4s all;
  color: #1ABC9C;
  box-shadow:  0 0 5px #1ABC9C,
               0 0 10px #1ABC9C;
 width:100px;
 margin-top: 30px;
 height:40px;
 text-align: center;
}
    
  #emp_no{
    /*border: 1px solid black;*/
    text-align: center;
    padding-left: 30px;
  }
  #link{
    display: inline;
    color: black;
    text-align: center;
    padding: 0px;
    text-decoration: none;
  }
  #link:hover{
    
  background-color: white;

  }
  

  .msg{
  margin-top: 15px;
  
} 


</style>

<div class="msg">
    <?php displayMessage(); ?>
  </div>
<div class="wrapper" >
  <div class="c">
        <p style="text-align: center; font-size: 25px;font-weight: 30px;font-family: 'Lato';color:#1ABC9C; ">Update your certification details!</p>
        <form id="search">

          
        <div style="text-align: center;">
          <label for="employeenumber"><b>Enter Employee Number</b></label>
          <div id="emp_no">
            
            <input style="width:300px;height:40px;border: 1px solid green;border-color:#1ABC9C; " type="number"  id="empn" name="emp_no" required /><br>
              
              <select class="form-control" style="width:300px;height:40px;border: 1px solid green; border-color:#1ABC9C;margin-top:20px;" id="c_name">
                <option value="AWS Certified Solution Architect Associate">AWS Certified Solution Architect Associate</option>
            <option value="AWS Certified Solution Architect Professional">AWS Certified Solution Architect Professional</option>
            <option value="AWS Certified Developer Associate">AWS Certified Developer Associate</option>
            <option value="AWS Certified Developer Professional">AWS Certified Developer Professional</option>
          <option value="AWS Certified Cloud Practioner">AWS Certified Cloud Practioner</option>
          <option value="AWS Certified BigData Analytics">AWS Certified BigData Analytics </option>
          <option value="AWS Certified Database Specialist">AWS Certified Database Specialist </option>
          <option value="AWS Certified Devops Engineer">AWS Certified Devops Engineer</option>
          <option value="Microsoft Certified Azure Fundamentals">Microsoft Certified Azure Fundamentals</option>
          <option value="Microsoft Certified Azure Data Fundamentals">Microsoft Certified Azure Data Fundamentals</option>
          <option value="Microsoft Certified Azure AI Fundamentals">Microsoft Certified Azure AI Fundamentals</option>
          <option value="Microsoft Certified Azure Administrator Associate">Microsoft Certified Azure Administrator Associate</option>
          <option value="Microsoft Certified Azure Developer Associate">Microsoft Certified Azure Developer Associate</option>
          <option value="Microsoft Certified Azure Database Administrator Associate">Microsoft Certified Azure Database Administrator Associate</option>
          <option value="Microsoft Certified Azure Solutions Architect Expert">Microsoft Certified Azure Solutions Architect Expert</option>
          <option value=">Microsoft Certified DevOps Engineer Expert">Microsoft Certified DevOps Engineer Expert</option>
          <option value="GCP Certified Engineer Associate">GCP Certified Engineer Associate</option>
          <option value="GCP Certified Architect Professional">GCP Certified Architect Professional</option>
          <option value="CP Certified Developer Professional">GCP Certified Developer Professional</option>
          <option value="GCP Certified Data Engineer Professional">GCP Certified Data Engineer Professional</option>
          <option value="GCP Certified DevOps Engineer Professional">GCP Certified DevOps Engineer Professional</option>
          <option value="GCP Certified Security Engineer Professional">GCP Certified Security Engineer Professional</option>
          <option value="GCP Certified Network Engineer Professional">GCP Certified Network Engineer Professional</option>
          <option value="GCP Certified Machine Learning Engineer Professional">GCP Certified Machine Learning Engineer Professional</option>
              </select><br>
              </div>

            <input style="padding: 0px;color:white;font-size: 17px;" id="submit" type="submit" class="btn-next" value="Get">
          </div>
         
        </form>
        <div id="output">
  
</div>
</div>
</div>


  
<br>

<script>
    
    $(document).ready(function(){


       

      $('form').submit(function(){
        var temp1 = $('#empn').val();
        var temp2 = $('#c_name').val();

        // $( "#sample" ).text(name);
          $.ajax({
            url: "update.php",
            method: "POST",
            data: {
              emp_no1 : temp1,
              certification_name: temp2
              },
            success: function( result ) {

              $( "#output" ).html(result);
              console.log(result);
             
            }
          });
         
         return false;
        }); 

    });


</script>


