body
{
  background-color: #1ABC9C;
}
#hd{
  border: 2px solid black;  
  margin-bottom: 30px;
  /*background-color: #add8e6;*/

}
.score{
  width:300px;
  height: 300px;
  margin-top: 20px;
  margin-left: 100px;
  padding:50px;
  
  box-shadow: 0 0 5px #33ffff,
               0 0 10px #66ffff;
  align-items: center;
}
.p{
  font-family:'sans-serif';
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;

}
#per
{
  font-size: 40px;
}
#Q{
  font-size: 18px;
  color:black;
  padding: 5px;
  /*border: 2px solid black;*/
  background-color: #add8e6;
}
#ans{
  font-weight:bold;
  font-size: 17px;
  color:black;
  background-color: #90EE90;
  /*border: 2px solid black;*/
  padding: 5px;
}
#uans{
  font-weight:bold;
  font-size: 17px;
  color:black;
  background-color: #fed8b1;
  /*border: 2px solid black;*/
  padding: 5px;
}
#opt{
  color:black;
  font-size: 18px;
  padding-left: 50px;
  width:500px;
  height:50px;
  padding-top:25px;
  
  
}
#opts
{
  /*background-color: #add8e6;*/
  /*border: 2px solid black;*/
  margin-bottom:30px;

}
#review
{
  width:200px;
  height:40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  color:white;
  font-size:20px; 
  align-content: center;
  margin-left:30px; 
  margin-top:30px;
  margin-bottom:30px;
  padding-top:2px;
}
#review:hover {
  cursor: pointer;
  background-color:#1ABC9C;
  color: White;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
#hide
{
  display: none;
}
#pass
{
  color: #28B463;
  font-size: 35px;
}
#fail
{
  color:#CB4335;
    font-size: 35px;

}
#desc
{
  color:black;
  font-size: 17px;
  padding: 5px;
  margin-bottom: 0px;
  /*border: 2px solid black;  */
  background-color: #add8e6;

}